  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <img class="mx-auto h-10 w-auto" src="./assets/logo.png" alt="Your Company">
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your account</h2>
    </div>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form [formGroup]="myform" (ngSubmit)="onSubmit()" class="max-w-sm">
        <div class="mb-4">
          <label for="username" class="block text-gray-700">Username</label>
          <input type="text" formControlName="username" class="mt-1 p-2 w-full border rounded-md">
        </div>
        <div class="mb-4">
          <label for="password" class="block text-gray-700">Password</label>
          <input type="password" formControlName="password" class="mt-1 p-2 w-full border rounded-md">
        </div>
        <div *ngIf="errorMessage" class="text-red-500 mb-4">
          {{ errorMessage }}
        </div>
        <button type="submit" class="bg-green-600 text-white p-2 rounded-md hover:bg-green-700 focus:outline-none focus:shadow-outline-green active:bg-green-800">
          Login
        </button>
      </form>
    </div>
  </div>