<app-navbar></app-navbar>
<div class="container mx-auto mt-10">
    <div class="text-center">
      <h1 class="text-3xl font-bold mb-4">{{ username }}</h1>
      <div class="flex justify-center items-center mb-4">
        <div class="mr-2">First Name:</div>
        <div class="font-semibold">{{ firstName }}</div>
      </div>
      <div class="flex justify-center items-center mb-4">
        <div class="mr-2">Last Name:</div>
        <div class="font-semibold">{{ lastName }}</div>
      </div>
      <div class="flex justify-center items-center mb-4">
        <div class="mr-2">Email:</div>
        <div class="font-semibold">{{ email }}</div>
      </div>
    </div>
  </div>
  
