
<app-navbar></app-navbar>
     

<app-carrossel></app-carrossel>
<div class="bg-white">
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
      <h3 class="text-2xl tracking-tight text-gray-700 flex justify-center">All recipes</h3>
      <hr>
  
      <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 xl:gap-x-8">
        <!-- Receita 1 -->
        <div class="group relative">
          <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
            <img src="./assets/american-pancakes.jpg" alt="American Pancakes" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
          </div>
          <div class="mt-4 flex justify-center">
            <div class="text-center flex items-center">
              <h3 class="text-sm text-gray-700 ">
                <a href="#">
                  <span aria-hidden="true" class="absolute inset-0 "></span>
                  American Pancakes
                  <div class="ratings">
                    <fa-icon [icon]="solidStar"></fa-icon>
                    <fa-icon [icon]="solidStar"></fa-icon>
                    <fa-icon [icon]="solidStar"></fa-icon>
                    <fa-icon [icon]="solidStar"></fa-icon>
                    <fa-icon [icon]="emptyStar"></fa-icon>
                  </div>
                </a>
              </h3>
            </div>
          </div>
        </div>
      
        <!-- Receita 2 -->
        <div class="group relative">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
                <img src="./assets/american-pancakes.jpg" alt="American Pancakes" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
              </div>
              <div class="mt-4 flex justify-center">
                <div class="text-center flex items-center">
                  <h3 class="text-sm text-gray-700 ">
                    <a href="#">
                      <span aria-hidden="true" class="absolute inset-0 "></span>
                      American Pancakes
                      <div class="ratings">
                        <fa-icon [icon]="solidStar"></fa-icon>
                        <fa-icon [icon]="solidStar"></fa-icon>
                        <fa-icon [icon]="solidStar"></fa-icon>
                        <fa-icon [icon]="solidStar"></fa-icon>
                        <fa-icon [icon]="emptyStar"></fa-icon>
                      </div>
                    </a>
                  </h3>
                </div>
              </div>
        </div>
      
        <div class="group relative">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
                <img src="./assets/american-pancakes.jpg" alt="American Pancakes" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
              </div>
              <div class="mt-4 flex justify-center">
                <div class="text-center flex items-center">
                  <h3 class="text-sm text-gray-700 ">
                    <a href="#">
                      <span aria-hidden="true" class="absolute inset-0 "></span>
                      American Pancakes
                      <div class="ratings">
                        <fa-icon [icon]="solidStar"></fa-icon>
                        <fa-icon [icon]="solidStar"></fa-icon>
                        <fa-icon [icon]="solidStar"></fa-icon>
                        <fa-icon [icon]="solidStar"></fa-icon>
                        <fa-icon [icon]="emptyStar"></fa-icon>
                      </div>
                    </a>
                  </h3>
                </div>
              </div>
        </div>

        <div class="group relative">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
                <img src="./assets/american-pancakes.jpg" alt="American Pancakes" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
              </div>
              <div class="mt-4 flex justify-center">
                <div class="text-center flex items-center">
                  <h3 class="text-sm text-gray-700 ">
                    <a href="#">
                      <span aria-hidden="true" class="absolute inset-0 "></span>
                      American Pancakes
                      <div class="ratings">
                        <fa-icon [icon]="solidStar"></fa-icon>
                        <fa-icon [icon]="solidStar"></fa-icon>
                        <fa-icon [icon]="solidStar"></fa-icon>
                        <fa-icon [icon]="solidStar"></fa-icon>
                        <fa-icon [icon]="emptyStar"></fa-icon>
                      </div>
                    </a>
                  </h3>
                </div>
              </div>
        </div>
        <div class="group relative">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
                <img src="./assets/american-pancakes.jpg" alt="American Pancakes" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
              </div>
              <div class="mt-4 flex justify-center">
                <div class="text-center flex items-center">
                  <h3 class="text-sm text-gray-700 ">
                    <a href="#">
                      <span aria-hidden="true" class="absolute inset-0 "></span>
                      American Pancakes
                      <div class="ratings">
                        <fa-icon [icon]="solidStar"></fa-icon>
                        <fa-icon [icon]="solidStar"></fa-icon>
                        <fa-icon [icon]="solidStar"></fa-icon>
                        <fa-icon [icon]="solidStar"></fa-icon>
                        <fa-icon [icon]="emptyStar"></fa-icon>
                      </div>
                    </a>
                  </h3>
                </div>
              </div>
        </div>
      
      
        
  
        <!-- More products... -->
      </div>
    </div>
  </div>
  
