<script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
<nav class=" navbar bg-gray-100">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 h-32">
      <div class="relative flex h-16 items-center justify-between h-32">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden h-32">
        </div>
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex flex-shrink-0 items-center">
            <img class="h-16 w-auto" src="../assets/logo.png" alt="Your Company">
            <h1>{{ welcomeMessage }}</h1>
          </div>
          <div class="hidden sm:ml-6 sm:block flex justify-center h-16" style="padding-left: 10px;">
            <div class="flex space-x-4 space-y-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a routerLink="/home" class="bg-green-600 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">HOME</a>
              <a routerLink="/aboutUs" class="text-black-300 hover:bg-green-600 hover:text-white rounded-md px-3 py-2 text-sm font-medium">ABOUT US</a>
              <a *ngIf="!isLoggedIn" routerLink="/login" class="text-black-300 hover:bg-green-600 hover:text-white rounded-md px-3 py-2 text-sm font-medium">LOGIN/REGISTER</a>
              <div *ngIf="isLoggedIn" class="relative inline-block text-left">
                <button (click)="toggleProfileDropdown()" type="button" class="text-black-300 hover:bg-green-600 hover:text-white rounded-md px-3 py-2 text-sm font-medium">
                    PROFILE
                  </button>
                  
                <div *ngIf="isProfileDropdownOpen" class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="options-menu" style="z-index: 1000;">
                  <!-- Opções do dropdown -->
                  <div class="py-1" role="none">
                    <a routerLink="/myRecipes" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="options-menu-item-0">My Recipes</a>
                    <a routerLink="/myFridge" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="options-menu-item-1">My Fridge</a>
                    <a routerLink="/myShopList" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="options-menu-item-2">My ShopList</a>
                    <a routerLink="/favorites" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="options-menu-item-3">Favorites</a>
                    <a routerLink="/settings" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="options-menu-item-4">Settings</a>
                    <a (click)="onLogout()" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="options-menu-item-1">Logout</a>
                  </div>
                </div>
              </div>
              <a routerLink="/admin" *ngIf="isAdmin" class="text-black-300 hover:bg-green-600 hover:text-white rounded-md px-3 py-2 text-sm font-medium">ADIMN</a> 
            </div>
          </div>
        </div>
        
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <div class="relative">
            <fa-icon [icon]="search"></fa-icon>
            <input
              type="search"
              class="form-input rounded-md pl-10 bg-green-100"
              placeholder="Search"
              #searchInput
              (keyup.enter)="searchRecipes(searchInput.value)"
            />
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
              <i class="far fa-search text-gray-600" (click)="searchRecipes(searchInput.value)"></i>
            </div>
          </div>
        </div>
        
      </div>
    </div> <!-- Adicione esta linha para fechar a tag div -->
    
</nav>